#map {

  width: 100%;
  height: 100%;
}

.container {
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  width: 700px;
  height: 500px;
}

.innercontainer {
  position: relative;
  background-color: rgba(0,0,0,0);
  width: 690px;
  margin: auto;
  height: 300px;
}

.imgcontainer {
  position: relative;
  background-color: rgba(0,0,0,0);
  position: relative;
  bottom: -40px;
  padding-left: 10px;
  width: 220px;
  height: 220px;
}

.infobox {
    background-color: rgba(0,0,0,0);
    position: relative;
    margin-left: 250px;
    margin-top: -230px;
    padding-right:5px;
}

.info{
    background-color: rgba(0,0,0,0.1);
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
}

.infocom{
    background-color: rgba(0,0,0,0.1);
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 130px;
    border-radius: 10px;
}

.mapcontainer {
  background-color: rgba(0,255,0,0.2);
  width: 250px;
  height: 250px;
  bottom: 5px;
  margin-top: 10px;
  position: relative;
}

.updateform{
  background-color: rgba(0,0,0,0.1);
  width: 400px;
  height: 250px;
  margin-left: 280px; 
  margin-top: -250px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.updateform form{
  background-color: rgba(155,100,0,0);
  width: 100%;
}

.updatecontainer{
    //background-color: white;
    margin-top: 5px;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.updatecontainer input{
    height: 25px;
    width: 100%;
    font-size: 18px;
}

