
#map {

  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  
}

.container{
    margin: 0 auto;
    width: 800px;
    height: 650px;
    background: rgba(0, 0, 0,0.1);
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid #fff;
    border-radius: 8px;
}

.InputsContainer{
    margin-top: 20px;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.InputsContainer input{
    height: 35px;
    width: 300px;
    border: 2px solid gray;
    font-size: 20px;
    padding: 5px;
}

.mapcontainer {
  position: relative;
  background-color: rgba(255,0,0,0);
  width: 450px;
  margin-top: -650px;
  margin-left: 350px;

}

.container2 {
    position: relative;
    width: 450px;
    height: 270px;
    margin-left: 320px;
    margin-top: -300px;
    background: rgba(0, 0, 0,0);
    padding-top: 0px;
    padding-left: 20px;
}

.ErrorContainer{
    position: absolute;
    z-index: 1;
    margin-top: -30px;
    background-color: rgba(0,0,0,0);
    color: red;
    font-size: 20px;
    font-weight: bold;
}
